
body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #939473; 
}

.quem-somos{
    background-color: #4f784e;
    color: white;
}

.margin{
    padding-top: 30px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: #2d5e4c;
    color: white;
}

.servicos{
    background-color: #13444d;
    color: white;
    text-align: justify;
}

.bg-footer{
    background-color: #252326;
    color: white;
}